body {
    height: 100vh;
    margin: 0;
    background-color: #F7FFF5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    padding: inherit;
}

legend,
label {
    font-family: "Farro", sans-serif;
    font-weight: 300;
    font-size: small;
    color: #222222;
}

h1 {
    font-family: "Farro", sans-serif;
    font-weight: 400;
    color: #222222;
}

header.asleep {
    animation: sleep 10s ease-in-out forwards;
}

header:not(.asleep) {
    animation: wake 0.2s ease-in-out forwards;
}

body.asleep * {
    cursor: none;
}

@keyframes sleep {
    from {
        opacity: 1;
        display: auto;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes wake {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: auto;
    }
}

fieldset {
    border-radius: 5px;
    border-color: #85AF69;
}
